html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
a {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
* {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.content {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
body {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  margin: 0 auto;
}
button {
  font-family: "Quicksand", sans-serif;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
}
.tech-name {
  position: relative;
  color: #000000;
  font-size: 15px;
  padding-left: 40px;
  font-weight: 400;
  img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: -6px;
  }
}
.tech-shell {
  position: relative;
  padding-left: 25px;
  color: $tech;
  font-size: 15px;
  &:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    left: 3px;
    top: 4px;
  }
}
.products__title {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-size: 30px;
  padding: 43px 30px;
  box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  font-weight: 400;
}
.color__title {
  font-family: "Quicksand", sans-serif;
  color: #000000;
  font-size: 36px;
  line-height: 28px;
  font-weight: 400;
  padding-bottom: 35px;

  span {
    color: $linkbg;
  }
}
.casual__text {
  font-family: "Quicksand", sans-serif;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}
.item__title {
  color: #000000;
  font-family: "Quicksand", sans-serif;
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 30px;
}
.main-page__top {
  padding-bottom: 50px;
  text-align: center;
  max-width: 670px;
  margin: 0 auto;
}
.product__descr {
  padding: 30px;
}
.small__item {
  margin-bottom: 10px;
  margin-right: 30px;
}
