@media (max-width: 1240px) {
  .footer__contacts {
    width: 100%;
    margin-bottom: 30px;
    min-height: auto;
  }
  .footer__contacts-location {
    display: block;
    &::before {
      top: -1px;
    }
  }
  .footer__contacts-email,
  .footer__contacts-phone {
    &::before {
      top: -3px;
    }
  }
  .footer__contacts-email {
    margin-left: 25px;
  }
  .footer__social {
    margin-right: 15px;
  }
}
@media (max-width: 1041px) {
  .footer__inner {
    justify-content: flex-start;
  }
  .footer__company {
    width: 40%;
  }
  .footer__social {
    margin-top: 30px;
    margin-right: 0px;
    width: 100%;
    button {
      right: auto;
      left: 253px;
    }
  }
  .footer__title {
    padding-bottom: 25px;
  }
  .footer__text {
    padding-bottom: 20px;
  }
  .footer__social form {
    margin-bottom: 35px;
  }
}

@media (max-width: 665px) {
  .footer__contacts-email,
  .footer__contacts-phone {
    display: block;
    margin: 0 0 10px 0;
  }

  .footer__company,
  .footer__support {
    width: 100%;
    margin-bottom: 30px;
  }
  .footer__social {
    margin-top: 0;
  }
  .footer__copyr {
    display: flex;
    flex-direction: column;
    // justify-content: space-evenly;
    // align-items: center;
    margin-left: 15px;
    p {
      width: 100%;
    }
  }
}
@media (max-width: 510px) {
  .footer__social form {
    min-width: 100%;
  }
  .footer__social {
    form {
      margin-right: -15px;
      input {
        width: 100%;
        padding: 13px 10px 13px 15px;
      }
      button {
        display: block;
        width: 100%;
        position: static;
        margin-top: 1px;
      }
    }
  }
  .footer__social-nets {
    max-width: 300px;
    margin: 0 auto;
    a,
    span {
      margin-bottom: 15px;
      margin-right: 40px;
    }
  }
}
@media (max-width: 470px) {
}
