@import "vars";
@import "global";
@import "global";
@import "fonts";
// start header
.header__top {
  background-color: #eef1f3;
  width: 100%;
}
.header__top-box {
  display: flex;
  justify-content: space-between;
  min-height: 100px;
  padding-top: 30px;
}
.header__logo {
  margin-left: 80px;
}

.header__seller {
  margin: 0 50px 0 auto;
  a {
    padding: 13px 18px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 18px;
    font-size: 14px;
    line-height: 21px;
    color: #ffffff;
    background-color: $linkbg;
  }
}
.header__notification {
  margin-right: 50px;
  a {
    transform: translateY(15px);
    & + a {
      margin-left: 31px;
    }
  }
}
.header__account {
  display: flex;
  justify-content: space-between;
  &-img {
    display: block;
    background: no-repeat center cover;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 20px;
  }
  &-data {
    font-weight: 500;
  }
  &-name {
    display: block;
    line-height: 22px;
    color: #333333;
  }
  &-balance {
    font-size: 15px;
    color: $linkbg;
    font-weight: 400;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.menu {
  padding-left: 40px;
  &__list-item {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 20px;
  }
  &__list-link {
    font-size: 15px;
    font-weight: 500;
    padding: 5px;
  }
}
.header__search {
  max-width: 360px;
  position: relative;
  width: 100%;

  & input {
    border: 1px solid #d9dfe5;
    border-radius: 23px;
    display: block;
    font-size: 15px;
    font-weight: 400;
    width: 100%;
    padding: 16px 25px;
    color: #898f96;
    outline: none;
    &::placeholder {
      border-radius: 23px;
      font-size: 15px;
      font-weight: 400;
      line-height: 30px;
    }
  }
  & button {
    background: no-repeat cover center;
    position: absolute;
    background-color: $linkbg;
    width: 70px;
    height: 49px;
    border-radius: 23px;
    top: 1px;
    right: 1px;
    border: none;
  }
}
//======END HEADER=========

.marketplace {
  &__inner {
    position: relative;
    text-align: center;
    color: #f3f3f8;
    padding: 185px 0 235px;
  }

  &__title {
    font-size: 60px;
    line-height: 70px;
    font-weight: 400;
    padding-bottom: 35px;
    span {
      display: block;
      font-weight: 700;
    }
  }
  &__text {
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 65px;
  }
  &__btn {
    width: 100%;
    font-size: 16px;
    font-weight: 400;

    :hover {
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      background-color: #ffffff;
      color: $linkbg;
      transition: all 0.5s;
    }

    & button {
      padding: 21px 31px;
      box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
      border-radius: 28px;
      color: #ffffff;
      border: 1px solid #fff;
      background-color: $linkbg;
    }
  }
}
.marketplace__search {
  position: absolute;
  bottom: -65px;
  left: 0;
  right: 0;
  border: 1px solid #ffff;
  background-color: #fff;
  color: #fff;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 6px;

  & input {
    padding: 20px 30px;
    border: 1px solid #dcdcdc;
    width: 810px;
    border-radius: 4px;
  }
  &::placeholder {
    color: #676767;
    margin: 0;
  }
  & select {
    position: absolute;
    padding: 18px 18px;
    color: #555555;
    right: 301px;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    cursor: pointer;
  }
  & button {
    margin-left: 30px;
    padding: 20px 60px;
    background-color: $linkbg;
    color: #fff;
    border-radius: 4px;
  }
  & form {
    width: 100%;
    margin: 40px 0 40px 0;
  }
}
.marketplace__search-box {
  width: 100%;
  position: relative;
  z-index: 2;
  ::before,
  ::after {
    content: "";
    height: 100%;
    position: absolute;
    background-color: #ffffff;
    border-radius: 6px;
    opacity: 0.5;
    z-index: -1;
  }
  ::before {
    right: 15px;
    width: calc(100% - 30px);
    top: -53px;
  }
  ::after {
    width: calc(100% - 60px);
    left: 30px;
    top: -66px;
  }
}

//========END MARKETPLACE===

//===========benefits start====
.benefits__items {
  padding: 185px 0 121px 0;
  display: flex;
  justify-content: center;
}
.benefits__item {
  padding: 40px 35px 50px;
  max-width: 360px;
  min-height: 405px;
  transition: all 0.5s;

  text-align: center;
  & + .benefits__item {
    margin-left: 30px;
  }
  &-img {
    padding-bottom: 35px;
  }
  &-title {
    color: #010101;
    font-size: 24px;
    padding-bottom: 30px;
  }
  &-text {
    color: #555555;
  }
}
.benefits__item:hover {
  box-shadow: 0 2px 50px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  background-color: #ffffff;
}

// ==========END benefits======== ========start weekly========== .weekly {
.weekly {
  background-color: #eff1f5;
  padding: 120px 0;
}
.weekly__items {
  margin-top: 50px;
}
.weekly__item {
  display: block !important;
  display: flex !important;
}
.weekly__item-img img {
  max-width: 550px;
  height: 450px;

  // background: no-repeat center cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.weekly__descr {
  box-shadow: 0 2px 30px rgba(147, 155, 168, 0.1);
  border-radius: 4px;
  background-color: #ffffff;
  padding: 30px 30px 25px;
  &-title {
    color: #000000;
    font-size: 24px;
    padding-bottom: 23px;
  }
}
.weekly__descr-tech {
  margin-bottom: 40px;
}
.weekly__tech-name {
  position: relative;
  color: #000000;
  font-size: 15px;
  padding-left: 40px;

  &:before {
    content: "";
    width: 30px;
    height: 30px;
    background-color: #7347c1;
    background-image: url(../images/weekly/icons/AazzTech.svg);
    background: no-repeat cover center;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: -6px;
  }
}
.weekly__tech-shell {
  position: relative;
  padding-left: 25px;
  color: #7347c1;
  font-size: 15px;
  font-weight: 400;
  position: relative;
  margin-left: 20px;

  &:before {
    position: absolute;
    content: "";
    width: 16px;
    height: 16px;
    background-image: url(../images/weekly/icons/wss.png);
    background: no-repeat cover center;
    left: 2px;
    top: 1px;
  }
}

.weekly__descr-text {
  color: $text;
  padding: 40px;
  overflow: hidden;
}
.weekly__descr-category {
  span {
    padding: 8px 15px;
    color: #868c96;
    font-size: 15px;
    border-radius: 14px;
    background-color: #f1f3f6;
    & + span {
      margin-left: 7px;
    }
  }
  padding-bottom: 43px;
  border-bottom: 1px solid #ececec;
}
.weekly__descr-panel {
  margin-top: 23px;
}
.weekly__panel-price {
  color: #ffffff;
  background-color: $linkbg;
  font-size: 15px;
  font-weight: 500;
  padding: 9px 18px;
  border-radius: 16px;
}
.slick-arrow {
  position: absolute;
  cursor: pointer;
  border: none;
  outline: none;
  top: -120px;
  right: 30px;
  left: auto;
  background-color: #7347c1;
  width: 55px;
  height: 45px;

  // background-color: transparent;
  font-size: 0;
}

.slick-arrow.slick-prev {
  right: 85px;
  border-radius: 23px 0 0 23px;
}

.slick-arrow.slick-next {
  border-radius: 0 23px 23px 0;
}
